@import "~bootstrap/scss/bootstrap";

.thumbnail {
  display: inline-block;
  height: 300px;
}

.book-thumb {
  // width: 100%;
  height: 100%;
}

.note-body {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #333;
}

@media screen and (max-width: 480px) {
  .note-body {
    font-size: 18px;
  }

  .book-show-btns {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 720px) {
  .note-btns {
    text-align: left !important;
    margin-bottom: 12px;
    a {
      font-size: 0.8rem;
    }
  }
}
