<h2 class="mb-2">Vocabularies</h2>

<div class="row mb-2">
  <div class="col-12">
    <div class="card ml-auto">
      <h5 class="card-header">
        Add Vocabulary
      </h5>
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">



    <% @vocabularies.each do |vocabulary| %>
      <div class="card p-3">
        <div class="card-body p-0">
          <h4 class="card-title text-primary"><%= vocabulary.word %></h4>
          <p class="card-text pl-2"><%= vocabulary.meaning %></p>
        </div>
      </div>
    <% end %>


  </div>

</div>
